body {
    background-color: white;
    font-family: Arial, sans-serif;
}
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px 20px 40px;
      width: 960px;
      margin: 0 auto;
}
    
h1 {
    color: black;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}
  
.logo {
    height: 80px;
    width: auto;
    display: flex;
}
   
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
    
.tile {
    width: 30%;
    margin: 1.5%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
    
.tile:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(34, 36, 36, 0.388);
    border-radius: 10px;
}
    
.tile:before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-color: rgba(255,255,255,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
    
.tile img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
  
.search-box {
    margin-bottom: 20px;
    display: flex;
}
  
.search-box input[type="text"] {
    padding: 10px;
    width: 200px;
}
  
.search-box input[type="submit"] {
    padding: 10px 20px;
    background-color: #000c01;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
  
.search-results {
    font-weight: bold;
}
  
.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button {
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}
  
.button:hover {
    background-color: black;
    color: white;
}