/*body {*/
/*    background-color: white;*/
/*    font-family: Arial, sans-serif;*/
/*}*/

/*header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    padding: 5px 40px 20px 40px;*/
/*      width: 960px;*/
/*      margin: 0 auto;*/
/*}*/

/*h1 {*/
/*    color: black;*/
/*    font-size: 36px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 5px;*/
/*    text-align: center;*/
/*    margin: 20px 0;*/
/*    text-transform: uppercase;*/
/*}*/

/*.logo {*/
/*    height: 80px;*/
/*    width: auto;*/
/*    display: flex;*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    max-width: 960px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*}*/

.tile {
    width: 30%;
    margin: 1.5%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.tile:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(34, 36, 36, 0.388);
    border-radius: 10px;
}

.tile:before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-color: rgba(255,255,255,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.tile img {
  max-height: 250px;
  margin: 0 auto;
  border-radius: 10px;
}

/*.product-search-box {*/
/*    margin-bottom: 20px;*/
/*    display: flex;*/
/*}*/

/*.product-search-box input[type="text"] {*/
/*    padding: 10px;*/
/*    width: 200px;*/
/*}*/

/*.product-search-box input[type="submit"] {*/
/*    padding: 10px 20px;*/
/*    background-color: #000c01;*/
/*    color: white;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*}*/

/*.product-search-results {*/
/*    font-weight: bold;*/
/*}*/

/*.button-row {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.button {*/
/*    padding: 10px;*/
/*    margin: 5px;*/
/*    border: 2px solid black;*/
/*    border-radius: 50%;*/
/*    background-color: white;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.button:hover {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*@import '@angular/material/prebuilt-themes/purple-green.css';*/

.slick-dots {
  bottom: unset;
}
.background_shop {
background: rgba(255,255,255,0.3);
width: 220px;
}
.background-kaufland\/pl-PL {
background: red;
width: 220px;
}
.background-lidl\/pl-PL {
background: yellow;
width: 220px;
}

.shop-header-image-kaufland\/pl-PL , .shop-header-image-kaufland\/pl-PL2:hover {
  background-image: url("./assets/images/button-row-first-color/kaufland1.png");
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.shop-header-image-kaufland\/pl-PL2  {
 background-image: url("./assets/images/button-row-second-color/kaufland2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}
.shop-header-image-lidl\/pl-PL , .shop-header-image-lidl\/pl-PL2:hover{
  background-image: url("./assets/images/button-row-first-color/lidl1.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;

}
.shop-header-image-lidl\/pl-PL2, .shop-header-image-lidl\/pl-PL:hover {
 background-image: url("./assets/images/button-row-second-color/lidl2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}
