:host {
  display: flex;
}

.product-name {   /* checkboxy kategori produktów i sklepów */
  color: #24305E;
  font-size: 15px;
  text-align: center;
  white-space: pre-line;
}

.checkbox-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

/*/////////////////////////////////////////////////////////////*/
.button-row {
position: fixed;
display: inline-flex;
}

.checkbox-label input {
  display: none;
}
.input_hidden{
 visibility: hidden;
 }

.mdc-checkbox {
  display: none !important;
}

.category-header-image-owoce {
  background-image: url('../../assets/images/button-row-first-color/owoce1.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-owoce2, .category-header-image-owoce:hover{
  background-image: url('../../assets/images/button-row-second-color/owoce2.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}

.category-header-image-warzywa {
  background-image: url('../../assets/images/button-row-first-color/warzywa1.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-warzywa2, .category-header-image-warzywa:hover {
  background-image: url('../../assets/images/button-row-second-color/warzywa2.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-mięso {
  background-image: url('../../assets/images/button-row-first-color/mieso1.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-mięso2, .category-header-image-mięso:hover {
  background-image: url('../../assets/images/button-row-second-color/mieso2.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-nabiał {
  background-image: url('../../assets/images/button-row-first-color/nabial1.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-nabiał2, .category-header-image-nabiał:hover {
  background-image: url('../../assets/images/button-row-second-color/nabial2.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-chemia {
  background-image: url('../../assets/images/button-row-first-color/chemia1.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-chemia2, .category-header-image-chemia:hover {
  background-image: url('../../assets/images/button-row-second-color/chemia2.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-napoje{
  background-image: url('../../assets/images/button-row-first-color/napoje1.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-napoje2, .category-header-image-napoje:hover {
  background-image: url('../../assets/images/button-row-second-color/napoje2.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-alkohol {
  background-image: url('../../assets/images/button-row-first-color/alkohol1.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.category-header-image-alkohol2, .category-header-image-alkohol:hover {
  background-image: url('../../assets/images/button-row-second-color/alkohol2.png');
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}



/****************************************************************************************/
#owoce:hover img { /* owoce */
  content: url('../../assets/images/button-row-second-color/owoce2.png')
}

#owoce input:checked + img {
  content: url('../../assets/images/button-row-second-color/owoce2.png')
}


#warzywa:hover img { /* warzywa */
  content: url('../../assets/images/button-row-second-color/warzywa2.png')
}

#warzywa input:checked + img {
  content: url('../../assets/images/button-row-second-color/warzywa2.png')
}

#mieso:hover img { /* mięso */
  content: url('../../assets/images/button-row-second-color/mieso2.png')
}

#mieso input:checked + img {
  content: url('../../assets/images/button-row-second-color/mieso2.png')
}

#nabial:hover img { /* nabiał */
  content: url('../../assets/images/button-row-second-color/nabial2.png')
}

#nabial input:checked + img {
  content: url('../../assets/images/button-row-second-color/nabial2.png')
}

#chemia:hover img { /* chemia */
  content: url('../../assets/images/button-row-second-color/chemia2.png')
}

#chemia input:checked + img {
  content: url('../../assets/images/button-row-second-color/chemia2.png')
}

#napoje:hover img { /* napoje*/
  content: url('../../assets/images/button-row-second-color/napoje2.png')
}

#napoje input:checked + img {
  content: url('../../assets/images/button-row-second-color/napoje2.png')
}

#alkohol:hover img { /* alkohol */
  content: url('../../assets/images/button-row-second-color/alkohol2.png')
}

#alkohol input:checked + img {
  content: url('../../assets/images/button-row-second-color/alkohol2.png')
}

#wszystko:hover img { /* wszystko */
  content: url('../../assets/images/button-row-second-color/wszystko2.png')
}
