<label class="checkbox-label" id="owoce">
  <input type="checkbox">
  <img [src]="'./assets/images/button-row-first-color/owoce1.png'" alt="Owoce">
  <span class="product-name">Owoce</span>
</label>
<label class="checkbox-label" id="warzywa">
  <input type="checkbox">
  <img [src]="'./assets/images/button-row-first-color/warzywa1.png'" alt="Warzywa">
  <span class="product-name">Warzywa</span>
</label>
<label class="checkbox-label" id="mieso">
  <input type="checkbox">
  <img [src]="'./assets/images/button-row-first-color/mieso1.png'" alt="Mięso">
  <span class="product-name">Mięso</span>
</label>
<label class="checkbox-label" id="nabial">
  <input type="checkbox">
  <img [src]="'./assets/images/button-row-first-color/nabial1.png'" alt="Nabiał">
  <span class="product-name">Nabiał</span>
</label>
<label class="checkbox-label" id="chemia">
  <input type="checkbox">
  <img [src]="'./assets/images/button-row-first-color/chemia1.png'" alt="Chemia">
  <span class="product-name">Chemia</span>
</label>
<label class="checkbox-label" id="napoje">
  <input type="checkbox">
  <img [src]="'./assets/images/button-row-first-color/napoje1.png'" alt="Napoje">
  <span class="product-name">Napoje</span>
</label>
<label class="checkbox-label" id="alkohol">
  <input type="checkbox">
  <img [src]="'./assets/images/button-row-first-color/alkohol1.png'" alt="Alkohol">
  <span class="product-name">Alkohol</span>
</label>
<label class="checkbox-label" id="wszystko">
  <input type="button">
  <img [src]="'./assets/images/button-row-first-color/wszystko1.png'" alt="Pokaż Wszystko">
  <span class="product-name">  Pokaż Wszystko</span>
</label>
