<div class="checkbox-label" >
  <div class="button-row">
    <label><input  class="input_hidden" [(ngModel)]="categoryAllSelected" type="checkbox" checked (change)="setCategoryAll()"/>
    </label>
    <div *ngFor="let category of getCategoryList()">
      <label>
        <input class="input_hidden" type="checkbox" [(ngModel)]="category.checked" (change)="updateCategoryResults()" />
        <div [ngClass]="category.checked ? 'category-header-image-' + category.categories +'2': 'category-header-image-' + category.categories">
         </div>{{category.categories}}
      </label>
    </div>
  </div>

</div>



