<div>
  <hr>
  <h1>Polityka Prywatności</h1>
  <p><strong>Data ostatniej aktualizacji: 1 stycznia 2023</strong></p>
  <p>Witaj w Polityce Prywatności! Nasza strona dba o ochronę Twoich danych osobowych i pragniemy, abyś był/a
    świadomy/a, jakie informacje zbieramy i w jaki sposób są one przetwarzane. Prosimy o dokładne zapoznanie się z naszą
    polityką prywatności, aby zrozumieć, jakie działania podejmujemy w celu ochrony Twojej prywatności.</p>
  <h2>1. Cele przetwarzania danych osobowych</h2>
  <p>Zbieramy i przetwarzamy Twoje dane osobowe w celu:</p>
  <ul>
    <li>Świadczenia usług, które oferujemy, w tym dostarczania produktów i obsługi zamówień.</li>
    <li>Komunikacji z Tobą w sprawach związanych z naszymi usługami, w tym rozwiązywania problemów i informowania o
      zmianach.
    </li>
    <li>Działalności marketingowej, w tym przesyłania informacji o nowościach i promocjach (jeśli wyrazisz na to
      zgodę).
    </li>
    <li>Prowadzenia analiz i badań rynkowych w celu doskonalenia naszych usług.</li>
    <li>Spełnienia obowiązków prawnych i regulacyjnych.</li>
  </ul>
  <h2>2. Rodzaje danych osobowych</h2>
  <p>Podczas korzystania z naszych usług możemy zbierać następujące rodzaje danych osobowych:</p>
  <ul>
    <li>Adres e-mail.</li>
    <li>Dane logowania do konta użytkownika.</li>
  </ul>
  <h2>3. Podstawa prawna przetwarzania</h2>
  <p>Przetwarzanie Twoich danych osobowych odbywa się na podstawie jednej z następujących podstaw prawnych:</p>
  <ul>
    <li>Wyrażona przez Ciebie zgoda.</li>
    <li>Wykonanie umowy zawartej z Tobą.</li>
    <li>Spełnienie obowiązków prawnych.</li>
    <li>Nasz uzasadniony interes, takie jak ulepszanie naszych usług.</li>
  </ul>
  <h2>4. Okres przechowywania danych</h2>
  <p>Twoje dane osobowe będą przechowywane przez okres niezbędny do realizacji celów, dla których zostały zebrane, oraz
    zgodnie z obowiązującymi przepisami prawa.</p>
  <h2>5. Prawa użytkowników</h2>
  <p>Masz prawo do:</p>
  <ul>
    <li>Dostępu do swoich danych osobowych.</li>
    <li>Sprostowania danych osobowych.</li>
    <li>Usunięcia danych osobowych (prawo do bycia zapomnianym).</li>
    <li>Ograniczenia przetwarzania danych osobowych.</li>
    <li>Przenoszenia danych osobowych.</li>
    <li>Wycofania zgody na przetwarzanie danych osobowych.</li>
  </ul>
  <h2>6. Zasady ochrony danych</h2>
  <p>Stosujemy odpowiednie środki techniczne i organizacyjne, aby chronić Twoje dane osobowe przed nieuprawnionym
    dostępem, utratą, uszkodzeniem lub nielegalnym przetwarzaniem.</p>
  <h2>7. Udostępnianie danych osobowych</h2>
  <p>Twoje dane osobowe mogą być udostępniane tylko w określonych sytuacjach, takich jak dostawcy usług, organy ścigania
    (zgodnie z obowiązującymi przepisami) lub w przypadku wymaganego prawem.</p>
  <h2>8. Cookies i technologie śledzenia</h2>
  <p>Nasza strona internetowa może używać plików cookie i innych technologii śledzenia. Więcej informacji na ten temat
    znajdziesz w naszej Polityce Cookies.</p>
  <h2>9. Zgoda użytkownika</h2>
  <p>Korzystając z naszych usług, wyrażasz zgodę na przetwarzanie Twoich danych osobowych zgodnie z tą Polityką
    Prywatności.</p>
  <h2>10. Zmiany w polityce prywatności</h2>
  <p>Nasza Polityka Prywatności może ulec zmianie. Każda aktualizacja zostanie opublikowana na naszej stronie
    internetowej. Prosimy o regularne sprawdzanie jej treści.</p>
  <h2>11. Kontakt w sprawach ochrony danych</h2>
  <p>Jeśli masz pytania lub obawy dotyczące ochrony danych osobowych, skontaktuj się z nami pod adresem [adres-e-mail]
    lub telefonicznie pod numerem [numer-telefonu].</p>
  <p>Dziękujemy za zaufanie, jakim obdarzyłeś/obdarzyłaś naszą stronę. Jesteśmy zobowiązani do ochrony Twojej prywatności
    i dbania o bezpieczeństwo Twoich danych osobowych.</p>
  <hr>
</div>
