* {  
  margin: 0;
  padding: 0;
  font-family: 'open-sans', sans-serif;
  box-sizing: border-box;
}

#button-row {                                      /* login przycisk */
  position: fixed;
  bottom: 10px;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 10px;
}

.button img {
  width: 60px;
  height: 60px;
}

.nothing {
  display: none;
}

#login:hover img {
  content: url('../../assets/images/button-row-second-color/login2.png');
}

.form-box { /* panel logowania */
  width: 90%;
  max-width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #24305E;
  padding: 50px 60px 70px;
  text-align: center;
}

.hidden {
  display: none;
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: white;
  position: relative;
}

.form-box h1::after {
  content: '';
  width: 50px;
  height: 4px;
  border-radius: 3px;
  background: white;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
}

.input-field {
  background: white;
  margin: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 15px 15px;
}

.input-field i {
  margin-left: 15px;
  color: #9999;
}

form p {
  text-align: left;
  font-size: 13px;
  color: white;
}

form p a {
  color: white;
}

.option-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.option-field button {
  flex-basis: 50%;
  background: white;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.input-group {
  height: 280px;
}

.option-field button.disable {
  background: #dcd3d3cc;
}

#nameField {
  max-height: 0;
}