.button-row {
margin-top: 150px;
position: fixed;
}

.mdc-checkbox {
  display: none !important;
}

.shop-header-image-kaufland {
  background-image: url("../../assets/images/button-row-first-color/kaufland1.png");
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.shop-header-image-kaufland2 .shop-header-image-kaufland:hover {
 background-image: url("../../assets/images/button-row-second-color/kaufland2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}
.shop-header-image-lidl {
  background-image: url("../../assets/images/button-row-first-color/lidl1.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;

}
.shop-header-image-lidl2, .shop-header-image-lidl:hover {
 background-image: url("../../assets/images/button-row-second-color/lidl2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}


.shop-header-image-Janusze-kradno{
  background-image: url("../../assets/images/button-row-first-color/biedronka1.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}
.shop-header-image-Janusze-kradno2, .shop-header-image-Janusze-kradno:hover {
 background-image: url("../../assets/images/button-row-second-color/biedronka2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}

.mat-grid-list {
  width: 70vw;
  row-gap: 0px;
}
