
.button-row {
  margin-top: 10vw;
  margin-left: 5vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mark_shop {
  padding: 20px;
  width: 6vw;
    text-align: center;
    background: rgba(255,255,255,0.3);
}

.mdc-checkbox {
  display: none !important;
}
.mat-grid-list {
  width: 70vw;
  row-gap: 0px;
}
.pointer{
      cursor: pointer;
}
.input_hidden{
visibility: hidden;
position: absolute;
}
.setAllButtonP{
margin-left: 20px;
}

.buttonSetAll2{
color: white;
background: #24315E;
}
/* .buttonSetAll {
  
} */
.buttonSetAll2{
color: white;
background: #24315E;
}
