<div class="form-box">
    <h1 id="title">Zarejestruj się</h1>
    <div class="exit-button">
        <button type="submit" class="x-mark"><i class="fa-regular fa-circle-xmark" [routerLink]="['/main']"></i></button>
    </div>

    <div style="color: red;">
        {{errors}}
    </div>
    <form autocomplete="off" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <div class="input-field" id="nameField">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Nazwa użytkownika">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input formControlName="email" type="email" placeholder="Adres E-mail">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-lock"></i>
                <input formControlName="password" type="password" placeholder="Hasło">
            </div>

        </div>
        <div class="option-field">
            <button type="button" id="login" class="disable" [routerLink]="['/signin']">Zaloguj się</button>
            <button type="submit" id="register">Zarejestruj się</button>
        </div>
    </form>
</div>
