
<div class="button" id="leaflets-my-list">
  <img src="../assets/../assets/images/button-row-first-color/lista1.png" alt="Moja Lista">

  <div>
    <div>
      <!--  <input (keyup.enter)="addProduct()" class="product-name" placeholder="Moja lista" [(ngModel)]="mySelectProduct">
        <button (click)="addProduct()">+</button>-->
    </div>
    <div>

        <div class="hiddenMyProduct" *ngFor="let  myProduct of this.leafletsService.myListProduct">{{myProduct}}
         <!-- <button (click)="remove(myProduct)">-</button>-->
        </div>

      {{this.leafletsService.myListProduct.length}}
    </div>
  </div>
</div>
