

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #menu {

    display: flex;
  }

</style>


  <div id="menu">

    <div *ngFor="let kategoria of listaKategorii">
      <button (click)="ustawKategorie(kategoria)">{{kategoria}}</button>
    
    </div>
    <button (click)="clear()">Pokaż wszystko</button>
<!--    <input [(ngModel)]="szukanyProdukt" #ctrl="ngModel" required>-->

    <p>Daj placka: {{ szukanyProdukt }}</p>
    <div *ngFor="let produkt of getProdukty() ">
      <span>{{produkt}}</span>
    </div>

  

  </div>

