body {
  background-color: #A8D0E6;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

main {
  background-color: #A8D0E6;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
  
h1 {
  color: black;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}

.logo {
  height: 80px;
  width: auto;
  display: flex;
}

.container {    
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 200px;
  padding: 20px;
  border: 2px solid white;
  border-right: none;
  border-bottom: none; 
  max-width: auto;
}

#container {
  flex-grow: 5;
}
  
.tile {                                                     /* kafle */
  width: 30%;
  margin: 1.5%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
  
.tile:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(34, 36, 36, 0.388);
  border-radius: 10px;
}
  
.tile:before {
  content: '';
  display: block;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-color: rgba(255,255,255,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
  
.tile img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.search-box {                                         /* Wyszukiwarka */
  margin: 8px 20px 0 0;
  display: flex;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  height: 20px;
}

.search-box input[type="text"] {
  padding: 10px;
  width: 120px;
  background-color: transparent;
  border: none;
}

.search-box input[type="submit"] {
  padding: 10px 20px;
  background-color: white;
  color: grey;
  cursor: pointer;
}

.search-results {
  font-weight: bold;
}

.checkbox-container {                         /* checkboxy kategori produktów i sklepów */
  display: flex;
  margin-top: 20px;
}

.checkbox-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.checkbox-label img {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
}

#checkbox-aside {
  flex-direction: column;
  margin-top: 40px;
  margin-left: 30px;
}

.checkbox-aside {
  flex-direction: row;
}

.checkbox-label input {
  display: none;
}

.product-name {
  color: #24305E;
  font-size: 15px;
  text-align: center;
  white-space: pre-line;
}

.product-name-aside {
  color: #24305E;
  font-size: 15px;
  text-align: center;
  white-space: pre-line;
  margin: 0 0 0 10px;
}

#owoce:hover img {/* owoce */
  content: url("../assets/images/button-row-second-color/owoce2.png")
}

#owoce input:checked + img {
  content: url("../assets/images/button-row-second-color/owoce2.png")
}

#warzywa:hover img {/* warzywa */
  content: url("../assets/images/button-row-second-color/warzywa2.png")
}

#warzywa input:checked + img {
  content: url("../assets/images/button-row-second-color/warzywa2.png")
}

#mieso:hover img {/* mięso */
  content: url("../assets/images/button-row-second-color/mieso2.png")
}

#mieso input:checked + img {
  content: url("../assets/images/button-row-second-color/mieso2.png")
}

#nabial:hover img {/* nabiał */
  content: url("../assets/images/button-row-second-color/nabial2.png")
}

#nabial input:checked + img {
  content: url("../assets/images/button-row-second-color/nabial2.png")
}

#chemia:hover img {/* chemia */
  content: url("../assets/images/button-row-second-color/chemia2.png")
}

#chemia input:checked + img {
  content: url("../assets/images/button-row-second-color/chemia2.png")
}

#napoje:hover img {/* napoje*/
  content: url("../assets/images/button-row-second-color/napoje2.png")
}

#napoje input:checked + img {
  content: url("../assets/images/button-row-second-color/napoje2.png")
}

#alkohol:hover img {/* alkohol */
  content: url("../assets/images/button-row-second-color/alkohol2.png")
}

#alkohol input:checked + img {
  content: url("../assets/images/button-row-second-color/alkohol2.png")
}

#wszystko:hover img {/* wszystko */
  content: url("../assets/images/button-row-second-color/wszystko2.png")
}

#lidl:hover img {/* lidl */
  content: url("../assets/images/button-row-second-color/lidl2.png")
}

#lidl input:checked + img {
  content: url("../assets/images/button-row-second-color/lidl2.png")
}

#kaufland:hover img {/* kaufland */
  content: url("../assets/images/button-row-second-color/kaufland2.png")
}

#kaufland input:checked + img {
  content: url("../assets/images/button-row-second-color/kaufland2.png")
}

#biedronka:hover img {/* biedronka */
  content: url("../assets/images/button-row-second-color/biedronka2.png")
}

#biedronka input:checked + img {
  content: url("../assets/images/button-row-second-color/biedronka2.png")
}



.arrow {                                              /* Strzałki i napisy */
  height: 40px;
  width: auto;
  position: absolute;
}

#arrow-top {
  margin-top: 20px;
  margin-left: 230px;
}

#arrow-aside {
  transform: scaleY(-1);
  margin-top: 50px;
  margin-left: 230px;
}

header div.logo span {
  font-family: Buree Chalk;
  color: white;
  position: absolute;
  font-size: 21px;
}

#text-top {
  margin-top: 0px;
  margin-left: 255px;
}

#text-aside {
  margin-top: 90px;
  margin-left: 180px;
}

#dots {                                                /* kropki */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0 0 200px;
  border: 2px solid white;
  border-bottom: none;
  border-right: none;
}

.dot {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 1px;
}

#button-row {                                      /* lista i login */
  position: fixed;
  bottom: 10px;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.button { 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 10px;
}

.button img {
  width: 60px;
  height: 60px;
}

.nothing {
  display: none;
}

#leaflets-my-list:hover img {/* lista */
  content: url("../assets/images/button-row-second-color/lista2.png")
}

#login:hover img {/* login */
  content: url("../assets/images/button-row-second-color/login2.png")
}

#login-board {            /* login */
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #24305E;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

.hidden {
  display: none;
}

#login-board .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 80%;
  height: 80%;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
  margin-bottom: 30px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

#login-board #remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 30px 0 15px;
}

#remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}

#remember-forgot a {
  color: white;
  text-decoration: none;
}

#remember-forgot a:hover {
  text-decoration: underline;
}

#login-board button {
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 20px 0 20px 0;
}

#login-board #register link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px; 
}

#register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

#register-link p a:hover {
  text-decoration: underline;
}