<body>
<header>
    <div class="logo">
      <img src="../assets/images/zniżka_full_logo.png"/>
      <img src="../assets/images/arrow.png" id="arrow-top" class="arrow">
      <img src="../assets/images/arrow.png" class="arrow" id="arrow-aside">
      <span id="text-top">Oraz produkty</span>
      <span id="text-aside">Wybierz Sklep</span>
    </div>
    <div class="checkbox-container" id="checkbox-top">
      <label class="checkbox-label" id="owoce">
        <input type="checkbox">
        <img src="../assets/images/button-row-first-color/owoce1.png" alt="Owoce">
        <span class="product-name">Owoce</span>
      </label>
      <label class="checkbox-label" id="warzywa">
        <input type="checkbox">
        <img src="../assets/../assets/images/button-row-first-color/warzywa1.png" alt="Warzywa">
        <span class="product-name">Warzywa</span>
      </label>
      <label class="checkbox-label" id="mieso">
        <input type="checkbox">
        <img src="../assets/../assets/images/button-row-first-color/mieso1.png" alt="Mięso">
        <span class="product-name">Mięso</span>
      </label>
      <label class="checkbox-label" id="nabial">
        <input type="checkbox">
        <img src="../assets/../assets/images/button-row-first-color/nabial1.png" alt="Nabiał">
        <span class="product-name">Nabiał</span>
      </label>
      <label class="checkbox-label" id="chemia">
        <input type="checkbox">
        <img src="../assets/../assets/images/button-row-first-color/chemia1.png" alt="Chemia">
        <span class="product-name">Chemia</span>
      </label>
      <label class="checkbox-label" id="napoje">
        <input type="checkbox">
        <img src="../assets/../assets/images/button-row-first-color/napoje1.png" alt="Napoje">
        <span class="product-name">Napoje</span>
      </label>
      <label class="checkbox-label" id="alkohol">
        <input type="checkbox">
        <img src="../assets/../assets/images/button-row-first-color/alkohol1.png" alt="Alkohol">
        <span class="product-name">Alkohol</span>
      </label>
      <label class="checkbox-label" id="wszystko">
        <input type="button">
        <img src="../assets/../assets/images/button-row-first-color/wszystko1.png" alt="Pokaż Wszystko">
        <span class="product-name">  Pokaż Wszystko</span>
      </label>
    </div>
  <app-search></app-search>
    <div class="search-box">
      <input type="text" id="search-input" placeholder="Wyszukaj produkt" [(ngModel)]="szukanyProdukt">
      <img src="../assets/images/loupe.png" (click)="searchCategory(szukanyProdukt)">
    </div>
</header>
<main>
    <div>
      <div class="checkbox-container" id="checkbox-aside">
       <!-- <label class="checkbox-label checkbox-aside" id="lidl">
          <input type="checkbox" id="lidl">
          <img src="../assets/../assets/images/button-row-first-color/lidl1.png" alt="Lidl">
          <span class="product-name-aside">Lidl</span>
        </label>
        <label class="checkbox-label checkbox-aside" id="kaufland">
          <input type="checkbox">
          <img src="../assets/../assets/images/button-row-first-color/kaufland1.png" alt="Kaufland">
          <span class="product-name-aside">Kaufland</span>
        </label>
        <label class="checkbox-label checkbox-aside" id="biedronka">
          <input type="checkbox">
          <img src="../assets/../assets/images/button-row-first-color/biedronka1.png" alt="Biedronka">
          <span class="product-name-aside">Biedronka</span>
        </label>
      </div>
    </div>
    <div id="container">
      <div id="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
        <div id="tiles-container" class="container">-->
        <app-leaflets></app-leaflets>
        </div>
      </div>
    <div id="button-row">
        <div class="button" id="leaflets-my-list">
          <input type="button" class="nothing">
          <img src="../assets/../assets/images/button-row-first-color/lista1.png" alt="Moja Lista">
          <span class="product-name">Moja lista</span>
        </div>
    </div>
   <!-- <app-login-panel></app-login-panel>
      <div class="button-row">
        <div id="menu">
          <div class="main_menu">

            <div  *ngFor="let kategoria of listaKategorii">
              <button class="button_product" (click)="ustawKategorie(kategoria)">{{kategoria}}</button>

            </div>
            <button class="button_showAll" (click)="clear()">Pokaż wszystko</button>

          </div> --> <!--    <input [(ngModel)]="szukanyProdukt" #ctrl="ngModel" required>-->

          <!--<p>Wyszukaj: {{ szukanyProdukt }}</p>
          <div *ngFor="let produkt of getProdukty() ">
            <span>{{produkt}}</span>
          </div>

        </div>
      </div>

    </section>-->
   <!-- <section>
      <h1>Najlepsze Promocje</h1>

      <app-leaflets></app-leaflets>
    </section>     <app-brand-filter></app-brand-filter>-->
</main>
<div>

</div>
</body>

