<body>
<header>
  <div class="logo">
    <img src="../assets/images/zniżka_full_logo.png"/>
    <img src="../assets/images/arrow.png" id="arrow-top" class="arrow">
    <img src="../assets/images/arrow.png" class="arrow" id="arrow-aside">
    <span id="text-top">Oraz produkty</span>
    <span id="text-aside">Wybierz Sklep</span>
  </div>
  <app-list-categories></app-list-categories>
  <app-product-search></app-product-search>

</header>
<main>
  <div>
    <div class="checkbox-category-container" id="checkbox-aside">
    </div>
  </div>


  <app-list-brands></app-list-brands>
  <!-- REFACTOR do srodka app-leaflets -->
  <div id="container">
    <div id="dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div id="tiles-container" class="container">
      <app-leaflets></app-leaflets>
    </div>
  </div>


  <div id="button-row">
    <div class="button" id="leaflets-my-list">
     <app-my-list></app-my-list>
    </div>
    <div class="button">
<!--      <app-login-panel></app-login-panel>-->
    </div>
  </div>

</main>
</body>

