<div class="form-box">
    <h1 id="title">Zarejestruj się</h1>
    <form autocomplete="off">
        <div class="input-group">
            <div class="input-field" id="nameField">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Nazwa użytkownika">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Adres E-mail">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Hasło">
            </div>

        </div>
        <div class="option-field">
            <button type="button" id="login" class="disable">Zaloguj się</button>
            <button type="button" id="register">Zarejestruj się</button>
        </div>
    </form>
</div>