
<div>
  validAccount: janusztestowy@gmail.com / 12356
</div>

<div class="form-box">
    <h1 id="title">Zaloguj się</h1>
    <div class="exit-button">
        <button type="submit" class="x-mark"><i class="fa-regular fa-circle-xmark" [routerLink]="['/main']"></i></button>
    </div>

  <div style="color: red;">
    {{errors}}
  </div>

  {{signInForm.valid}}
  {{signInForm.errors}}



    <form autocomplete="off" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div class="input-field" id="nameField">
            <i class="fa-solid fa-user"></i>
            <input formControlName="username" type="text" placeholder="Nazwa użytkownika">
          </div>
            <div class="input-field">

                <i class="fa-solid fa-envelope"></i>
                <input formControlName="email" type="email" placeholder="Adres E-mail">
              <div *ngIf="signInForm.controls['email'].invalid">Wypełnij to pole</div>
            </div>
            <div class="input-field">
                <i class="fa-solid fa-lock"></i>
                <input  formControlName="password"  type="password" placeholder="Hasło">
            </div>
            <p id="remindPassword">Nie pamiętasz hasła? <a href="#"> Kliknij tutaj</a></p>
        </div>
        <div class="option-field">
            <button type="submit" id="login">Zaloguj się</button>
            <button type="button" id="register" class="disable" [routerLink]="['/signup']">Zarejestruj się</button>
        </div>
    </form>
</div>
