body {
    background-color: none;
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    color: black;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.logo {
    height: 3.5vw;
    width: auto;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-right: none;
    border-bottom: none;
    border-top: none;
    max-width: auto;
}

#dots {                                                /* kropki */
    display: flex;
    background-color: white;
}

.dot {
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 1px;
}

#button-row {                                      /* lista i login */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: 10px;
}

.button img {
    width: 3vw;
    height: 3vw;
    margin-right: 8px;
}


#favourite-leaflets:hover img {/* lista */
    content: url('../../assets/images/button-row-second-color/favourite2.png');
}

#login:hover img {
    content: url('../../assets/images/button-row-second-color/login2.png');
}

i {
    font-size: 2vw;
    margin-right: 8px;
}

/* sidebar */

mat-toolbar {
    color: black;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    color: black;
    border-radius: 10px;
    padding: 0;
    text-align: center;
}

.content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    overflow: auto;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

mat-drawer-inner-container {
    align-items: space-between;
}

.mat-expansion-panel {
    margin: 0 1.5vw 0 1.5vw;
}

/* to musi tak zostać  V inaczej dupa nie działa */
:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

mat-icon {
    margin-right: 8px;
}
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: #eae7dc;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lightbeige {
    background: #eae7dc;
}

.grey {
    background: #8e8d8a;
}

.lightbrown {
    background: #d8c3a5;
}

@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

}

@media screen and (min-width: 1400px) and (max-width: 1599px) {

}

@media screen and (min-width: 1201px) and (max-width: 1399px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
}


@media screen and (min-width: 768px) and (max-width: 991px) {

}


@media screen and (min-width: 576px) and (max-width: 767px) {

}

@media screen and (min-width: 480px) and (max-width: 575px) {

}

@media screen and (min-width: 360px) and (max-width: 479px) {

}

@media screen and (min-width: 320px) and (max-width: 359px) {

}