.slick-list{
  overflow: visible;
  width: 100%;
}

.example-card {
  background-color: none;
  border: 2px solid white;
  max-width: 800px;
  max-height: 800px;
  display: flex;
  justify-content: center;
}

mat-card {
  width: calc(100% - 50px);
  height: calc(120% - 70px);
}

.mat-mdc-card-content {
  padding: 0 32px;
}

.example-header-image-kaufland\/pl-PL {
  background-image: url('../../assets/images/button-row-second-color/kaufland2.png');
  background-size: cover;
}

.example-header-image-lidl\/pl-PL {
  background-image: url('../../assets/images/button-row-second-color/lidl2.png');
  background-size: cover;
}

.example-header-image-biedronka {
  background-image: url('../../assets/images/button-row-second-color/biedronka2.png');
  background-size: cover;
}

.example-image {
  width: 50%;
  height: auto;
  max-width: 70%; 
  max-height: 100%;
}

.mat-grid-card {
  width: 45%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.button-row {
margin-top: 50px;
}

/*
.shop-header-image-kaufland {
  background-image: url("./images/button-row-first-color/kaufland1.png");
  background-size: cover;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.shop-header-image-kaufland:hover {
 background-image: url("./images/button-row-second-color/kaufland2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}
.shop-header-image-lidl {
  background-image: url("./images/button-row-first-color/lidl1.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;

}
.shop-header-image-lidl:hover {
 background-image: url("./images/button-row-second-color/lidl2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}


.shop-header-image-Janusze-kradno{
  background-image: url("./images/button-row-first-color/biedronka1.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}
.shop-header-image-Janusze-kradno:hover {
 background-image: url("./images/button-row-second-color/biedronka2.png");
  background-size: cover;
      margin: 0 auto;
      height: 60px;
      width: 60px;
}
*/
.mat-grid-list {
  width: 77vw;
  row-gap: 0px;
  padding-top: 2.5vw;
}
.green{
   font-family: Arial, sans-serif;
   font-size: 15px;
  font-weight: bold;
    color: green;
}
.red{
   font-family: Arial, sans-serif;
   font-size: 15px;
   font-weight: bold;
    color: red;
}