<p>lista-gazetek works!</p>

<!--https://medium.com/the-clever-dev/awesome-angular-material-responsive-grid-list-with-cards-example-6b0aab655594-->
<!--https://stackoverflow.com/questions/54218485/angular-7-responsive-layout-using-material-grid-->
<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile rowspan="1" *ngFor="let leaflet of groupedLeafletsListByPageUrl">
    <mat-card class="example-card tile">
      <mat-card-header>
        <div mat-card-avatar [class]="'example-header-image-' + leaflet.brand" ></div>
        <mat-card-title>{{leaflet.brand | titlecase}}</mat-card-title>
        <mat-card-subtitle>Sprawdź ofertę sklepu</mat-card-subtitle>
      </mat-card-header>
      <img class="example-image" mat-card-image [src]="leaflet.thumbnailUrl" alt="Leaflet logo">
      <!--      <mat-card-content>Simple card</mat-card-content>-->
      <mat-card-actions>
        <a mat-icon-button color="primary" [href]="leaflet.pdfUrl" target="_blank">
          <mat-icon>open_in_new</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>


<div>
  <div class="button-row">
    <div>Wybierz sklep</div>
    <div *ngFor="let store of storesList">
      <button class="button_showAll" (click)="pickStore(store)">{{store}}</button>
    </div>
  </div>
</div>
