<div class="form-box">
    <h1 id="title">Zaloguj się</h1>
    <form autocomplete="off">
        <div class="input-group">
            <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Adres E-mail">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Hasło">
            </div>
            <p id="remindPassword">Nie pamiętasz hasła? <a href="#"> Kliknij tutaj</a></p>
        </div>
        <div class="option-field">
            <button type="button" id="login">Zaloguj się</button>
            <button type="button" id="register" class="disable">Zarejestruj się</button>
        </div>
    </form>
</div>