.search-box {                                         /* Wyszukiwarka */
  margin: 1vw;
  display: flex;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  height: 1.5vw;
  width: 13vw;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 10px;
  width: 120px;
  background-color: transparent;
  border: none;
}

#search-add {
  margin-left: 1vw;
  border: none;
  background: none;
  font-size: 1.7vw;
  display: flex;
}

#search-img {
  width: 1.7vw;
  height: 1.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}