.search-box {                                         /* Wyszukiwarka */
  margin: 0;
  display: flex;
  background-color: white;
  border-radius: 30px;
  padding: 0.7vw;
  height: 1.5vw;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 0;
  width: 12vw;
  background-color: none;
  border: none;
}

input:focus {
  outline: none;
}

#search-add {
  margin-left: 1vw;
  border: none;
  background: none;
  font-size: 1.7vw;
  display: flex;
}

#search-img {
  width: 1.7vw;
  height: 1.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}